body 
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm322GyTH7J2ENgTDL7Tdi3nJRRiAXNgYo2Q&s);

   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   background-position: center;
   background: linear-gradient(rgb(123, 8, 177),rgb(4, 135, 158));




    
    


}