 .box1 {
    border: solid black;
    width:150px ;
    height: 150px;
    
 }

 .box2 {

       border: solid rgb(30, 151, 167);
       width: 150px;
       height: 150px;
       fill: rgb(32, 218, 203);
 }